.carservicescard {
    height: 60vh;
    display: flex;
    justify-content: center;
    padding: auto;
    margin: auto;
    width: 100%;
    margin-top: 10%;
    padding-top: 10%;
    font-weight: bold;
}

.carservicestitle {
    font-size: x-large;
    font-weight: 500;
    display: flex;
    justify-content: center;
}