.carservicescard {
    height: 67vh;
    display: flex;
    justify-content: center;
    padding: auto;
    margin: auto;
    width: 80%;
    margin-top: 10%;
    padding-top: 10%;
    font-weight: bold;
    background-color: rgb(124, 6, 6);
    color:white;
}

.carservicestitle {
    font-size: x-large;
    font-weight: 500;
    display: flex;
    justify-content: center;

}

.carservice{
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-color: black;
}

.picks{
    font-weight:bolder;
    color:white;
    width:50%;
    height:90%;
    color:black;
}