#authorize {
    text-decoration: none;
    color: white;
}

#smallscreenregister {
    text-decoration: none;
    color: black;
}

.logout {
    background-color: red;
    border: none;
    width: 100px;
    height: 45px;
    color: white;
    font-weight: bold;
    border-radius: 30px;
}

.navv {
    font-style: italic;
}

.vehipro {
    text-decoration: none;
    color: white;
}